.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    @media (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.item-wrapper{
    display: flex;
    border: 1px solid wheat;
    border-radius: 10px;
    padding: 20px;

    @media (max-width: 767px) {
        flex-direction: column;
        gap: 12px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0;
    }
    
    .profile-image{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 150px;
        margin-bottom: 10px;
        @media(min-width: 1024px){
            width: 300px;
            height: 300px;
        }
    }

    .left-section{
        flex: 2;
        padding: 10px;
        justify-content: left;
        border-radius: 10px;
        text-align: center;
        .meta-data-content{
            text-align: left;
            margin-left: 10px;
            align-self: center;
            text-align: center;
            justify-content: left;
        }
    }

    

    .center-section{
        flex: 5;
        align-self: center;
        margin-bottom: 10px;
        margin-left: 25px;
        margin-right: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        .card-wrapper{
            display: flex; 
            align-items: center;
            @media(max-width: 767px){
                flex-direction: column;
            }
        }

        
        .card-title{
            @media (max-width: 767px) {
                margin-bottom: 0;
                    
            }
        }

        .card-flag{
            text-align: right;
        }

    }

    .right-section{
        flex: 1;
        text-align: right;
        padding-top: 5px;
    }

    .rating {
        font-size: 35px;
        text-align: right;
    }
    
    .star{
        border: 1px solid black;
    }

    .gold-star {
        color: gold;
    }

    .unrated-star{
        color: rgb(221, 217, 217);
    }
}
