.container{
    background-color: rgb(248, 244, 244);
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    
    .profile-image{
        width: 200px;
        height: 200px;
        // margin: 20px;
    }

    .left-section{
        flex: 1;
        padding-left: 10px;
        padding-top: 10px;
    }

    .center-section{
        flex: 2;
    }

    .right-section{
        flex: 1;
        text-align: right;
        padding-right: 10px;
        padding-top: 5px;
    }

    .rating {
        font-size: 35px; /* Adjust size as needed */
    }
    
    .star{
        border: 1px solid black;
    }

    .gold-star {
        color: gold; /* Color of the star */
    }

    .unrated-star{
        color: white;
    }
}